.background {
  width: calc(100% - (var(--mid) * 2));
  height: calc(100% - (var(--mid) * 2));

  position: absolute;
  top: 0;
  left: 0;
  
  background-color: var(--transparent-white);

  /* color: var(--white); */
  color: var(--light);

  z-index: -10;

  overflow: hidden;

  padding: var(--mid);
}

.background pre {
  background-color: transparent !important;
  text-shadow: none !important;
  font-family: monospace !important;
  padding: var(--no) !important;
  margin: var(--no) !important;
  overflow: hidden !important;
}

.code {
  font-family: monospace;

  white-space: pre;
}

.keyword {
  color: rgb(255, 112, 112);
}

.variable {
  color: rgb(123, 105, 255);
}

.cursor {
  display: inline-block;

  background-color: var(--black);

  width: 2px;
  height: 1em;
}
